<!DOCTYPE html>

<html>
<script src="https://kit.fontawesome.com/d6d6a5a389.js" crossorigin="anonymous"></script>
<link rel="stylesheet" media="all" href="views/homes/top.css" data-turbolinks-track="reload">


<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
  <a class="navbar-brand" href="/">
   <span>Bookers</span>
  </a>
  <button class="navbar-toggler collapsed" type="botton"
  date-toggle="collapse" date-target="#navbarNavDropdown"
  aria-controls="navbarNavDropdown" aria-expanded="false"
  aria-label="Toggle navigation">
   <span class="navbar-toggler-icon">
   </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav ml-auto">
    <li>
     <a class="nav-link text-light" href="/"></a>
    </li>
   </ul>
  </div>
 </div>
 </nav>
 </header>
 <maim>
  <p id="notice"></p>
  <div class="row">
   <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <h1>
     welcome to
     <svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable="false"
     date-prefix="fas" date-icon="book" role="img"  xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 448 512" date-fa-i2svg></svg>

     <div class="social">
      <i class="fa-solid fa-book"></i>
     </div>

     <strong>Bookers</strong>
     !!
    </h1>
    <p> In
    <svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable=
    "false" date-prefix="fas" date-icon="book" role="img" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 448 512" date-fa-i2svg></svg>

     <div class="social-i">
      <i class="fa-solid fa-book"></i>
     </div>

    <strong>Bookers</strong>
    ,
    </p>
    <p>
    you can share and exchange  your opinions , inpressions , and emotions
    </p>
    <P>
      about various books!
    </P>
    <div class="btn-wrapper col-10 mx-auto">
     <div class="row">
      <a class="btn btn-info btn-sm btn-block mb-3 sign_in"
      href="/users/sign_in">Log in</a>
     </div>
     <div class="row">
      <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">
       Sign_up
      </a>
     </div>
    </div>
   </div>
  </div>
  </div>
 </maim>

<footer>
 <div class="container mt-5">
  <div class="row">
   <div class="mx-auto">
    <p>CopyRight Infratop.inc</p>
   </div>
  </div>
 </div>
</footer>
</body>
</html>